{% extends 'header.html' %}


{% block content %}
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-gray">
<div class="container">
	<h2 class="title-page">My account</h2>
</div> <!-- container //  -->
</section>
<!-- ========================= SECTION PAGETOP END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<div class="row">
	<aside class="col-md-3">
		<nav class="list-group">
			<a class="list-group-item" href="/buyurtma/page-profil-main/"> Account overview  </a>
			<a class="list-group-item" href="/buyurtma/page-profil-address/"> My Address </a>
			<a class="list-group-item" href="/buyurtma/"> My Orders </a>
			<a class="list-group-item " href="/buyurtma/tanlangan/"> My wishlist </a>
			<a class="list-group-item" href="/buyurtma/page-profil-seller/"> My Selling Items </a>
			<a class="list-group-item active" href="/buyurtma/page-profil-settings/"> Settings </a>
			<a class="list-group-item" href="/user/logout/"> Log out </a>
		</nav>
	</aside> <!-- col.// -->
	<main class="col-md-9">

	<div class="card">
      <div class="card-body">
     <form class="row">
     	<div class="col-md-9">
     		<div class="form-row">
				<div class="col form-group">
					<label>Name</label>
				  	<input type="text" class="form-control" value="{{profil.user.first.first_name}}">
				</div> <!-- form-group end.// -->
				<div class="col form-group">
					<label>Email</label>
				  	<input type="email" class="form-control" value="{{profil.user.first.email}}">
				</div> <!-- form-group end.// -->
			</div> <!-- form-row.// -->
			
			<div class="form-row">
				<div class="form-group col-md-6">
				  <label>Country</label>
				  <select id="inputState" class="form-control">
				      <option required="True">Uzbekistan</option>
				  </select>
				</div> <!-- form-group end.// -->
				<div class="form-group col-md-6">
				  <label>City</label>
				  <input type="text" value="{{profil.shahar}}" class="form-control">
				</div> <!-- form-group end.// -->
			</div> <!-- form-row.// -->

			<div class="form-row">
				<div class="form-group col-md-6">
				  <label>Zip</label>
				  <input type="text" class="form-control" value="{{profil.id}}">
				</div> <!-- form-group end.// -->
				<div class="form-group col-md-6">
				  <label>Phone</label>
				  <input type="text" class="form-control" value="{{profil.tel}}">
				</div> <!-- form-group end.// -->
			</div> <!-- form-row.// -->

			<button class="btn btn-primary">Save</button>	
			<button class="btn btn-light">Change password</button>	

			<br><br><br><br><br><br>

     	</div> <!-- col.// -->
     	<div class="col-md">
     		<img src="images/avatars/avatar1.jpg" class="img-md rounded-circle border">
     	</div>  <!-- col.// -->
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->



	</main> <!-- col.// -->
</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}